<div class="body">
  <div class="login">
    <mat-spinner class="spinner" *ngIf="loading" diameter="50"></mat-spinner>

    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="iniciar()">
    <img src="./assets/img/user.png" width="50%">
    <h1>Login</h1>
    <h2>usuario: barbara y contraseña: bejob</h2>
     <mat-form-field class="ancho" appearance="fill">
          <mat-label>Usuario</mat-label>
          <input type="text" matInput autocomplete="off" formControlName="usuario">
          </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input  type="password" matInput autocomplete="off" formControlName="password">
      </mat-form-field>
      <br><br>
      <button type="submit" class="ancho-buttom" mat-raised-button color="Primary" [disabled]="form.invalid">Iniciar</button>
    </form>
    </div>
</div>

